<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="icon" href="/img/weather.png">
    <title>Help</title>
</head>
<body>
    
    <div class="main-content">
        {{>header}}
        <p class="textcenter caplita">if you face any kind service issue with this website , feel free to reach out to me .
            <a href = "mailto:fayezkabir.3@gmail.com?subject = Feedback">
Send mail
</a>
</p>
        <p class="textcenter caplita">or, you can messge me on
            <a href = "https://www.linkedin.com/in/fayez-kabir-892981152/">
linkedin
</a>
</p>
    </div>
    {{>footer}}
</body>
</html>