<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="icon" href="/img/weather.png">
    <script src="/js/app.js" defer></script>
    <title>Weather</title>
</head>
<body>
    <div class="main-content">
        {{>header}}

        <h2>Use this site to get your forecast of any location</h2>

        <form>
            <input placeholder="location" />
            <button>Search</button>
        </form>
        <p id="error"></p>
        <p id="message" class="befr"></p>
        <p id="temp" class="befr"></p>
        <p id="humid" class="befr"></p>
    </div>
    {{>footer}}
    
</body>
</html>